{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {% if request.view_args['problem'] %}
      <div class="panel-title pull-left">Rankings for problem <strong>{{ request.view_args['problem'] }}</strong></div>
      <div class="pull-right">logged in as {{ session.grade }} <em>{{ session.username }}</em> <small><a href="{{url_for('status') }}">(home)</a> | <a href="{{url_for('generate_rankings') }}">(rankings)</a> | <a href="{{ url_for('logout') }}">(logout)</a></small></div>
      {% else %}
      <div class="panel-title pull-left">Rankings</div>
      <div class="pull-right">logged in as {{ session.grade }} <em>{{ session.username }}</em> <small><a href="{{url_for('status') }}">(home)</a> | <a href="{{ url_for('logout') }}">(logout)</a></small></div>
      {% endif %}
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      {% include "utils/flasher.html" %}
      {% if request.view_args['problem'] %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Points</th>
            <th>Duration</th>
            <th>Compiler</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in rankings %}
          <tr {% if session.username == entry.key[5] %}class="success">
          <td>{{loop.index}}</td>
          <td>{{entry.key[5]}}</td>
          {% else %}>
          <td>{{loop.index}}</td>
          <td>...</td>
          {% endif %}
          <td>{{entry.key[2]|abs}}</td>
          <td>{{entry.key[3]}}</td>
          <td>{{entry.key[4]}}</td>
        </tr>
        {% endfor %}
        
        </tbody>
        </table>
  
      {% else %}
      Select a problem to view the rankings: <a href="{{ url_for('generate_specific_rankings', problem='maze') }}">maze</a>, <a href="{{ url_for('generate_specific_rankings', problem='bisearch') }}">bisearch</a>, <a href="{{ url_for('generate_specific_rankings', problem='strength') }}">strength</a>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title pull-left">General rankings</div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Total Points</th>
            <th>Total Duration</th>
            {% if session.admin %}<th>Grade</th>{% endif %}
          </tr>
        </thead>
        <tbody>
          {% for entry in rankings %}
          <tr{% if session.username == entry.username %} class="success">
            <td>{{loop.index}}</td>
            <td>{{entry.username}}</td>
            {% elif session.admin %}
            {% if entry.grade == "elev" %} class="info">
            {% else %} class="success">
            {% endif %}
            <td>{{loop.index}}</td>
            <td>{{entry.username}}</td>
            {% endif %}
            <td>{{entry.points|abs}}</td>
            <td>{{entry.duration}}</td>
            {% if session.admin %}<td>{{entry.grade}}</td>{% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
      
      {% endif %}
</div>
{% endblock %}
