{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title pull-left">Rankings</div>
      {% if session.logged_in %}
      <div class="pull-right">logged in as <em>{{ session.username }}</em> <small><a href="{{url_for('status') }}">(home)</a> | <a href="{{ url_for('logout') }}">(logout)</a></small></div>
      {% else %}
      <div class="pull-right"><small><a href="{{ url_for('login') }}">(login)</a> | <a href="{{ url_for('register') }}">(register)</a> | <a href="{{ url_for('status') }}">(home)</a></small></div>
      {% endif %}
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      {% include "utils/flasher.html" %}
      {% if request.view_args['problem'] %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Duration</th>
            <th>Penalties</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>{% set count = [1] %}
        {% for entry in rankings %}
        {% if entry.value == request.view_args['problem'] %}
        <tr>
          <td>{{count[0]}}</td>
{% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
          <td>{{entry.key[3]}}</td>
          <td>{{entry.key[0]}}</td>
          <td>{{entry.key[1]}}</td>
          <td>{{entry.key[2]}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        
        </tbody>
        </table>
      {% else %}
      Select a problem to view the rankings: <a href="{{ url_for('generate_specific_rankings', problem='kfib') }}">kfib</a>, <a href="{{ url_for('generate_specific_rankings', problem='dijkstra') }}">dijkstra</a>
      {% endif %}
</div>
{% endblock %}
